application:
  name: familie-ks-sak

server:
  servlet:
    context-path: /
  port: 8083
  shutdown: graceful

no.nav.security.jwt:
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      familie-klage-onbehalfof:
        resource-url: ${FAMILIE_KLAGE_URL}
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: ${FAMILIE_KLAGE_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-secret: ${AZURE_APP_CLIENT_SECRET}
          client-auth-method: client_secret_basic

spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s
  autoconfigure.exclude: org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
  main:
    allow-bean-definition-overriding: true
    banner-mode: "off"
  datasource:
    hikari:
      maximum-pool-size: 20
      connection-test-query: "select 1"
      max-lifetime: 30000
      minimum-idle: 1
      data-source-properties.stringtype: unspecified # Nødvendig for å kunde sende en String til et json-felt i PostgresSql
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"
        temp:
          use_jdbc_metadata_defaults: false
  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/init
  sql:
    init:
      mode: never #Hindre Spring Boot fra å automatisk laste test.sql - filer i alle tester

logging:
  config: "classpath:logback-spring.xml"


retry.backoff.delay: 5000

rolle:
  veileder: "54cd86b8-2e23-48b2-8852-b05b5827bb0f"
  saksbehandler: "e40090eb-c2fb-400e-b412-e9084019a73b"
  beslutter: "9449c153-5a1e-44a7-84c6-7cc7a8867233"
  forvalter: "c62e908a-cf20-4ad0-b7b3-3ff6ca4bf38b"
  kode6: "5ef775f2-61f8-4283-bf3d-8d03f428aa14" # 0000-GA-Strengt_Fortrolig_Adresse
  kode7: "ea930b6b-9397-44d9-b9e6-f4cf527a632a" # 0000-GA-Fortrolig_Adresse

funksjonsbrytere:
  enabled: true
  unleash:
    uri: https://unleash.nais.io/api/
    cluster: ${NAIS_CLUSTER_NAME}
    applicationName: ${NAIS_APP_NAME}
  kafka:
    producer:
      enabled: true

management:
  endpoint:
    health:
      show-details: always
      group:
        readyness:
          include: db
        liveness:
          include: db
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics.export.prometheus.enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    db:
      enabled: true
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true

springdoc:
  packages-to-scan: "no.nav.familie.ks.sak"
  paths-to-match: "/api/**"
  swagger-ui:
    oauth:
      use-pkce-with-authorization-code-grant: true
      client-id: ${AZURE_APP_CLIENT_ID}
      scope-separator: ","
    disable-swagger-default-url: true

prosessering:
  continuousRunning.enabled: true
  maxantall: 5
  fixedDelayString:
    in:
      milliseconds: 5000
  delete:
    after:
      weeks: 4

FAMILIE_EF_SAK_API_URL_SCOPE: api://dev-gcp.teamfamilie.familie-ef-sak/.default
FAMILIE_KLAGE_SCOPE: api://dev-gcp.teamfamilie.familie-klage/.default
FAMILIE_EF_SAK_API_URL: http://familie-ef-sak/api

PDL_SCOPE: api://dev-fss.pdl.pdl-api/.default
SANITY_DATASET: "ks-brev"
SANITY_BASE_URL: "https://xsrv1mh6.api.sanity.io/v2021-06-07/data/query"

FAMILIE_PROSESSERING_CLIENT_ID: "dummy"

FAMILIE_BREV_API_URL: http://familie-brev
FAMILIE_KLAGE_URL: http://familie-klage
FAMILIE_KS_INFOTRYGD_API_URL: http://familie-ks-infotrygd
FAMILIE_TILBAKE_API_URL: http://tilbakekreving-backend.tilbake/api
TILBAKEKREVING_REQUEST_TOPIC: tilbake.privat-tbk-hentfagsystemsbehandling
TILBAKEKREVING_RESPONSE_TOPIC: tilbake.privat-tbk-hentfagsystemsbehandling-svar
PDL_URL: http://pdl-api.default
FAMILIE_INTEGRASJONER_API_URL: http://familie-integrasjoner/api
FAMILIE_OPPDRAG_API_URL: http://familie-oppdrag/api
SANITY_FAMILIE_API_URL: https://xsrv1mh6.apicdn.sanity.io/v2021-06-07/data/query/ba-brev
ECB_API_URL: https://data-api.ecb.europa.eu/service/data/EXR/

# Swagger
AUTHORIZATION_URL: https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/v2.0/authorize
TOKEN_URL: https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/v2.0/token
API_SCOPE: api://${AZURE_APP_CLIENT_ID}/.default

# Scheduler
CRON_GRENSESNITT_AVSTEMMING: "0 0 8 ? * MON-FRI"
CRON_KONSISTENS_AVSTEMMING: "0 0 21 * * *"
CRON_FAGSAKSTATUS_SCHEDULER: "0 0 7 1 * *"
